<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CS525_Dictionary</display-name>
  <servlet>
      <servlet-name>ControllerServlet</servlet-name>
      <servlet-class>com.dictionary.controller.LookupWordServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>SimilarWordsServlet</servlet-name>
      <servlet-class>com.dictionary.controller.SimilarWordsServlet</servlet-class>
  </servlet>
  <servlet>
      <servlet-name>LoginServlet</servlet-name>
      <servlet-class>com.dictionary.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>ControllerServlet</servlet-name>
      <url-pattern>/lookup.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>SimilarWordsServlet</servlet-name>
      <url-pattern>/similar.do</url-pattern>
  </servlet-mapping>
 <servlet-mapping>  
    <servlet-name>LoginServlet</servlet-name>  
    <url-pattern>/login.do</url-pattern>  
  </servlet-mapping>  
  <session-config>
      <session-timeout>
          30
      </session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
     <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>